[submodule "lkl-linux"]
	path = linux
	url = git://github.com/ukontainer/lkl-linux
[submodule "musl"]
	path = musl
	url = git://github.com/ukontainer/musl.git
[submodule "llvm"]
	path = llvm
	url = git://github.com/llvm/llvm-project.git
