[submodule "lkl-linux"]
	path = linux
	url = git://github.com/ukontainer/lkl-linux
[submodule "musl"]
	path = musl
	url = git://github.com/ukontainer/musl.git
[submodule "llvm"]
	path = llvm
	url = git://github.com/llvm/llvm-project.git
[submodule "franken/ucontext/darwin/aarch64/libucontext-ios-arm64"]
	path = franken/ucontext/darwin/aarch64/libucontext-ios-arm64
	url = https://github.com/MCApollo/libucontext-ios-arm64
